body {
  padding-top: 50px;
  font-family: "Lucida Sans Unicode", sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 50px;
  }
}

h1 {
    text-align: center;
}

.portfolio-item {
    margin-bottom: 30px;
}